network:
  version: 2
  ethernets:
    {{ suscriptor_mgmt_iface }}:
      addresses: [{{ suscriptor_mgmt_addr }}/24]
      routes:
        - to: default
          via: {{ mgmt_control_node_ip }}
      nameservers:
        addresses: [8.8.8.8]
